:root {
  --primary-red: hsl(0, 78%, 62%);
  --primary-cyan: hsl(180, 62%, 55%);
  --primary-orange: hsl(34, 97%, 64%);
  --primary-blue: hsl(212, 86%, 64%);

  --accent-dark-blue: hsl(234, 12%, 34%);
  --accent-grayish-blue: hsl(229, 6%, 66%);
  --accent-light-gray: hsl(0, 0%, 98%);

  --box-shadow: hsla(212, 86%, 64%, 0.15);

  --font-size: 15px;
}
